* {
	padding: 0px;
	margin: 0px;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	opacity: 1;
	transition: opacity 2s; 
}

body {
	background-color: gold;
	transition: background-color 2s;
}

.fade {
  opacity: 0 !important;

}

#preScreen {
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
	padding: 350px 0px;
}

.container {
	float:right;
	width: 100%;
	height: auto;
	max-height: 208px;
	text-align:center;
}
.container div {
	animation: move 10s linear infinite; 
	display: inline-block;
	padding: 45px;
	width: auto;
	height: auto;
	margin: auto;
	left: 100%;
}

#con1 div {
	animation-delay:0s
}
#con2 div {
	animation-delay:2s
}
#con3 div {
	animation-delay:4s
}
#con4 div {
	animation-delay:6s
}
#con5 div {
	animation-delay:8s
}

.startMSG {
	position: absolute;
	z-index: 10;
	background-color: var(--MARIO_BLUE);
	height: auto;
	width: auto;
	right: 23%;
	top: 40%;
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
	font-family: 'marioFont' !important;
	padding: 25px;
	color: var(--MARIO_RED);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	border: 2px solid black;
	outline: 10px solid var(--MARIO_GREEN);
	outline-style: dotted;
}
.startMSG:hover {
	background-color: var(--MARIO_YELLOW);
	color: var(--MARIO_BLUE);
	cursor: pointer;
	outline: 10px solid var(--MARIO_RED);
	outline-style: dotted;
}

#title {
	margin-top: 30px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:right;
	overflow:hidden;
	white-space: nowrap;
	height: 100%
}

#coin {content: url('Resources/Images/coin.png')}
#block {content: url('Resources/Images/block.png')}
#flower {content: url('Resources/Images/flower.png')}
#coinBlock {content: url('Resources/Images/coinBlock.png')}
#star {content: url('Resources/Images/star.png')}

@-webkit-keyframes move {
	from {
		left: -100%;
	}
	to {
		left: 100%;
	}
}