* {
	padding: 0px;
	margin: 0px;
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

body {
	background-image: url('Resources/Images/marioBackground.jpg') ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#container {
	text-align: center;
	height: 100%;
	table-layout: fixed;
}

.gameRow {
	width: 100%;
	height: 50%;
	justify-content: center;
	align-items: center;
	display: flex;
}
img {
	-webkit-filter: brightness(100%);
	width: Calc(100%/9);
	transition: transform .2s step-start;
	z-index: 0;
	cursor: pointer;
}
#row1 img:nth-child(odd) {
	animation: float 1s linear infinite;
}
#row1 img:nth-child(even) {
	animation: floatReverse 1s linear infinite;
}
#row2 img:nth-child(even) {
	animation: float 1s linear infinite;
}
#row2 img:nth-child(odd) {
	animation: floatReverse 1s linear infinite;
}
img:hover {
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    -ms-transition: all .75s ease;
    transition: all .75s ease;
	z-index: 5;
	transform: scale(1.5);
}
@keyframes float {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
}
@keyframes floatReverse {
  0%, 100% {
    top: 0px;
  }
  50% {
    top: 15px;
  }
}

